/* css styles */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/*-- Team info cards --*/

/* Three columns side by side */
.card-column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 12px;
  flex-direction: row;
  display: block;
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 952px) {
  .card-column {
    width: 100%;
    display: block;
    overflow: hidden;
  }
  
  .headline {
    top: 1vh;
  }
  
  .headline-2 {
    top: 1vh;
  }
  
  .card-image {
    position: relative;  }
}

/* Add some shadows to create a card effect */
.paper-card {
  display: block;
  width: 66%;
  height: 400px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: paper-card;
}

.paper-card:hover {
  opacity: 0.7;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.card-image {
  background: -webkit-linear-gradient(left, 
                rgba(0,0,0,0.65) 0%, 
                rgba(0,0,0,0) 20%,
                rgba(0,0,0,0) 80%,
                rgba(0,0,0,0.65) 100%);
  opacity: 1;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 460px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  clip-path: circle();
  overflow: hidden;
}


.headline {
  position: absolute;
  color: #ffffff !important;
  font-size: 4rem;
  top: 0;
  left:10px;
  inline-size: 90%;
  text-align: left;
  line-height: 1.2;
  text-decoration: none !important;
  object-fit: contain;
}

.headline-2 {
  position: absolute;
  color: #ffffff !important;
  font-size: 4rem;
  top: 0;
  left:10px;
  inline-size: 90%;
  text-align: left;
  line-height: 1.2;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  text-decoration: none !important;
  object-fit: contain;
}


.job-title {
  color: #222322;
  font-size: 13px;
  margin-bottom:5px;
  line-height: 1;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #B8573E;
  text-align: center;
  cursor: pointer;
  width: 20%;
  clip-path: circle();
}

.button:hover {
  background-color: #E06E53;
}

img.rounded {
  object-fit: cover;
  border-radius: 50% !important;
  height: 195px;
  width: 195px;
}
